
<div class='item-content'>
  <div class="cf-card">
    <div class='cf-card-icon'>
      <img src='draggable.svg' />
    </div>
    <div class='cf-card-inner'>
      <div class='clearfix'>
        {{yield}}
      </div>
    </div>
  </div>
</div>