body {
  overflow: hidden;
}

.green {
  color: #14d997;
}

.red {
  color: #fe5c60;
}

.icon-wrapper {
  display: inline-block;
}

a:hover .icon-small {
  fill: #2a3039;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb1 {
  margin-bottom: 0.642857142857143em;
}

.mb2 {
  margin-bottom: 1.928571428571429em;
}

.icon-small {
  display: inline-block;
  fill: #3c80cf;
  vertical-align: middle;
  transition: fill .1s ease-in-out;
  position: relative;
  bottom: 1px;
}

.icon-small.red {
  fill: #fe5c60;
}

.red {
  color: #fe5c60;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid #d3dce0;
}

.cf-card {
  border: 1px solid #d3dce0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  background: #fff;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.cf-card-inner {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  padding: 14px;
}

.cf-card-status {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.cf-card-field {
  text-overflow: ellipsis;
  max-width: 20rem;
}

.pika-single {
  font-family: "Avenir Next W01", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  line-height: 18px;
  color: #2d2f31;
}

.blob-preview img {
  max-width: 100px;
}

.blob-preview .blob-meta {
  display: inline-block;
}

.blob-preview .blob-no-preview {
  height: 100%;
  background-color: #d3dce0;
}

.json-preview {
  height: 200px;
  border: 1px solid #d3dce0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #efefef;
  overflow: scroll;
  width: 100%;
  font-family: monospace;
  font-size: .75rem;
  line-height:1.2;
}

.cf-card {
  display: flex;
  transition: all 200ms ease-in-out;
}
.cf-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: .875rem;
  border-right: 1px solid #d3dce0;
  background-color: #f7f9fa;
  cursor: grab;
  transition: background-color 200ms ease-in-out;
}
.cf-card-icon:hover {
  background-color: #e5ebed;
}
.muuri-grid-component {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.muuri-item-component {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.muuri-item-component--editing {
  z-index: 4;
}
.item-content > .cf-card:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 6px 3px -3px rgba(0,0,0,0.1);
}
.muuri-item-component--editing .item-content > .cf-card {
  box-shadow: 0px 6px 12px -3px rgba(0,0,0,0.3);
}
.muuri-item-dragging, .muuri-item-releasing {
  z-index: 3;
}
.item-content {
  position: relative;
}