{{outlet}}

<div class="mt4">
  <p>
    <a target="_blank" href="https://www.contentful-fragment.io">Contentful Fragment</a> was built by <a target="_blank" href="http://www.sanctuary.computer/">Sanctuary Computer</a> in NYC.
  </p>
</div>
